.header {
  background-color: $theme;

  &__top {
    height: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-right {
      display: flex;
      align-items: center;

      .header__button {
        @media screen and (max-width: 767px) {
          display: none;
        }
      }
    }
  }
}
