.attention {
  background-color: #fff;
  text-align: center;

  @media screen and (max-width: 767px) {
    p {
      font-size: 14px;
    }
  }

  a {
    color: $normal;
    transition: color ease 200ms;
    text-decoration: none;

    &:hover {
      color: $theme;
    }
  }
}
