.overlay {
  z-index: 90;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: visibility ease 400ms, opacity ease 200ms;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}
