.content {
  &__wrapper {
    display: grid;
    //grid-template-columns: 280px 1fr;
    grid-gap: 2em;

    @media screen and (max-width: 1023px) {
      grid-template-columns: 1fr;
      grid-gap: unset;
    }

    .left {
      padding-top: 10px;
    }

    .sidebar__item-menu {
      display: none;
    }
  }
}
