.categories-output {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3em 2em;

    @media screen and (max-width: 1023px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 767px) {
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
  }
}
