* {
  padding: 0;
  margin: 0;
  font-family: $font;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.hidden {
  display: none !important;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @media screen and (max-width: 1230px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.content {
  @media screen and (max-width: 767px) {
    margin-top: 35px !important;
    margin-bottom: 35px !important;
  }
}

body.panel_open {
  overflow: hidden;
}
